<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PoP</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="stylepop.css">
    
</head>


<body>
    <img class="bg" src="img/bg.png" alt="">

    <div class="container" id="popbun">
        <h1 class="text">Bun pop</h1>
        <img id="bun" src="o.jpg" alt="">
        <h1 class="score">{{score}}</h1>
        <button v-if="button==0" @click="bun1()" >POP</button>
        <button v-if="button==1" @click="bun2()" >POP</button>
    </div>

    <audio id="sound" src="2-pop_Pop 1.mp3"></audio>


</body>

</html>

<script>
    const bun1 ="o.jpg";
    const bun2 ="oo.jpg";

    var app = new Vue({
        el : '#popbun',
        data : {
            button : 0,
            score : 0
        },
        methods : {
            bun1 : function () {
                bun.src=bun2
                this.button++
                this.score++
                var audio = document.getElementById("sound")
                audio.play()
            },
            bun2 : function () {
                bun.src=bun1
                this.button=0
                this.score++
                var audio = document.getElementById("sound")
                audio.play()   
            }
        }
    })
</script>